

# 登入LINE Developers 裡的 Channel access token
line_bot_api = 'channel access token'
# 登入LINE Official Account Manager 裡的 Channel secret
handler = 'channel secret'

# 資料庫設定
app_config = "mysql+pymysql://帳號:密碼@主機IP:PORT/資料庫名稱"

# port = 欲使用的port